:root {
    --Dark-Blue: hsl(209, 23%, 22%);
    --Very-Dark-Blue: hsl(207, 26%, 17%);
    --Light-Mode-Text: hsl(200, 15%, 8%);
    --Dark-Gray: hsl(0, 0%, 52%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.btn {
    background: none;
    border: none;
    display: inline-block;
    cursor: pointer;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background: var(--Very-Light-Gray);
}

/* theme start */
#light {
    background: var(--White);
    color: var(--Light-Mode-Text);
}

#dark {
    background: var(--Very-Dark-Blue);
    color: var(--White);
}
#dark .header {
    background: var(--Dark-Blue);
}
#dark .header__title {
    color: var(--White);
}
#dark .btn--theme{
    color: var(--White);
}
#dark .form__input {
    background: var(--Dark-Blue);
}
#dark .select {
    background: var(--Dark-Blue);
    color: var(--White);
}
/* #dark .icon__container{ */
/* } */
#dark .country {
    background: var(--Dark-Blue);
}
#dark .button__back {
    background: var(--Dark-Blue);
}
#dark .btn--back {
    color: var(--White);
}
#dark .country-details__borders--countries span {
    background: var(--Dark-Blue);
    color: var(--Very-Light-Gray);
}
/* theme end */

.wrapper {
    max-width: 1200px;
    width: 90%;
    margin-inline: auto;
}

/* header start */
.header {
    background: var(--White);
    padding: 2.5em;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, .2);
    user-select: none;
}

.wrapper--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header__theme {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}
.btn--theme {
    font-size: 1.8rem;
    transform: rotate(-30deg);
}
.dark-mode {
    font-size: 1.4rem;
    cursor: pointer;
}

@media (max-width: 60em) {
    .header__title {
        font-size: 1.5rem;
    }
}
/* header end */

/* filter start */

.wrapper--filter {
    margin-top: 5em;
    display: flex;
    justify-content: space-between;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}
.form__input {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: none;
    padding: 1.5em;
    padding-left: 4em;
    border-radius: 2px;
    outline: none;
    width: 100%;
    max-width: 400px;
    color: var(--Dark-Gray);
}
.search--icon {
    position: absolute;
    left: 1em;
    font-size: 1.8rem;
    color: var(--Dark-Gray);
}

.select__container {
    position: relative;
    display: flex;
    align-items: center;
}
.select {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    appearance: none;
    border: none;
    height: 100%;
    padding-left: 1.5em;
    width: 200px;
    background: var(--White);
    cursor: pointer;
    border-radius: 3px;
}

.select__item {
    background-color: var(--White);
    padding: 1em;
    display: block;
}

.icon__container {
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
    cursor: pointer;
}
.button__back {
    background: var(--White);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 1.5em 3em;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 1em;
    cursor: pointer;
}
.button__back i {
    font-size: 1.4rem;
}
@media (max-width: 60em) {
    .wrapper--filter {
        flex-wrap: wrap;
    }
    .select__container {
        margin-top: 4em;
    }
    .select {
        padding: 1.5em;
    }

}
/* filter end */


/* data section start */

.wrapper--data {
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
    margin-top: 5em;
}

.country {
    background: var(--White);
    width: 250px;
    padding-bottom: 2em;
    border-radius: 6px;
    margin-inline: auto;
    cursor: pointer;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .2);
}

.country__flag {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: 100%; 
    height: 150px;
    object-fit: cover;
}

.country__infos {
    padding: 1em 1em 1em 1.8em;
    font-size: 1.2rem;
}

.country__infos-list {
    list-style: none;
    margin-top: .9em;
    line-height: 1.8;
}

.population,
.region,
.capital {
    color: var(--Dark-Gray);
}
/* data section end */

/* country-details start*/
.country-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.country-details__flag {
    height: 240px;
    max-height: 300px;
}
.country-details__details {
    font-size: 1.4rem;
    padding: 0 0 0 2em;
    min-width: 40%;
    max-width: 400px;
}
.country-details__name {
    font-size: 2.4rem;
    margin-bottom: 1em;
    margin-top: 1em;
}
.country-details__list {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    gap: 2em;
}
.country-details__list div {
    line-height: 1.8;
}

.country-details__borders {
    margin-top: 3em;
}

.country-details__borders--countries {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .8em;
    margin-bottom: 2em;
}

.country-details__borders--countries span {
    background: var(--White);
    padding: .5em 3em;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .2);
    font-weight: 300;
    color: var(--Dark-Gray);
}

@media (max-width: 60em) {
    .country-details {
        justify-content: center;
    }
    .country-details__flag {
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    .country-details__list {
        flex-direction: column;
    }
}
@media (max-width: 28em) {
    .country-details {
        justify-content: flex-start;
    }
}
/* country-details end*/
